@{
    var X = Html.X();
}

@(
    X.TabPanel()
        .ActiveTabIndex(0)
        .Cls("card")
        .TabBarConfig(
            X.TabBar()
                .Docked(Dock.Bottom)
                .CustomConfig(
                    X.Parameter()
                        .Name("platformConfig")
                        .Value("{ blackberry: { ui: 'dark' } }")
                        .Mode(ParameterMode.Raw)
                )
                .LayoutConfig(
                    X.LayoutConfig()
                        .CustomConfig(
                            X.Parameter()
                                .Name("pack")
                                .Value("center"),
                            X.Parameter()
                                .Name("align")
                                .Value("center")
                        )
                )
                .Defaults(
                    X.Parameter()
                        .Name("iconAlign")
                        .Value("top")
                )
        )
        .Defaults(
            X.Parameter()
                .Name("scrollable")
                .Value("true")
                .Mode(ParameterMode.Raw)
        )
        .Items(
            X.Panel()
                .Title("About")
                .Html(@<text><p>Docking tabs to the bottom will automatically change their style.</p></text>)
                .Cls("card")
                .IconCls("x-fa fa-info-circle"),
            X.Panel()
                .Title("Favorites")
                .Html(@<text>Badges <em>(like the 4, below)</em> can be added by setting <code>badgeText</code> when creating a tab or by using <code>setBadgeText()</code> on the tab later.</text>)
                .Cls("card")
                .IconCls("x-fa fa-star")
                .CustomConfig(
                    X.Parameter()
                        .Name("badgeText")
                        .Value("4")
                ),
            X.Panel()
                .ID("tab3")
                .Title("Downloads")
                .Html("Badge labels will truncate if the text is wider than the tab.")
                .Cls("card")
                .IconCls("x-fa fa-download")
                .CustomConfig(
                    X.Parameter()
                        .Name("hidden")
                        .Value("(Ext.filterPlatform('ie10') && Ext.os.is.Phone) ? true : false")
                        .Mode(ParameterMode.Raw),
                    X.Parameter()
                        .Name("badgeText")
                        .Value("Overflow test")
                ),
            X.Panel()
                .Title("Settings")
                .Html(@<text>Tabbars are <code>ui:"dark"</code> by default, but also have light variants.</text>)
                .Cls("card")
                .IconCls("x-fa fa-gear")
                .CustomConfig(
                    X.Parameter()
                        .Name("hidden")
                        .Value("(Ext.filterPlatform('ie10') && Ext.os.is.Phone) ? true : false")
                        .Mode(ParameterMode.Raw)
                ),
            X.Panel()
                .Title("User")
                .Html(@<text><span class="action">User tapped User</span></text>)
                .Cls("card")
                .IconCls("x-fa fa-user")
        )
)