@{
    var X = Html.X();
}

@(X.Container()
    .Cls("cards")
    .LayoutConfig(
        X.VBoxLayoutConfig()
            .Align(BoxAlign.Stretch)
    )
    .Defaults(new { flex = 1 })
    .Items(
        X.Carousel()
            .Items(
                X.Component()
                    .Html(@<text><p>Swipe left to show the next card&hellip;</p></text>)
                    .Cls("card"),

                X.Component()
                    .Html(@<text><p>You can also tap on either side of the indicators.</p></text>)
                    .Cls("card"),

                X.Component()
                    .Html("Card #3")
                    .Cls("card")
            ),

        X.Carousel()
            .UI(CarouselUI.Light)
            .Direction(CarouselDirection.Vertical)
            .Items(
                X.Component()
                    .Html(@<text><p>Carousels can also be vertical <em>(swipe up)&hellip;</em></p></text>)
                    .Cls("card dart"),

                X.Component()
                    .Html(@<text>And can also use <code>UI="Light"</code>.</text>)
                    .Cls("card dark"),

                X.Component()
                    .Html("Card #3")
                    .Cls("card dark")
            )
    )
)