@{
    var X = Html.X();
}

@(
    X.TabPanel()
        .ActiveTabIndex(1)
        .Cls("card")
        .TabBarConfig(
            X.TabBar()
                .LayoutConfig(new LayoutConfig()
                {
                    CustomConfig =
                {
                    new ConfigItem()
                    {
                        Name = "pack",
                        Value = "Ext.filterPlatform('ie10') ? 'start' : 'center'",
                        Mode = ParameterMode.Raw
                    }
                }
                })
        )
        .Defaults(
            X.Parameter()
                .Name("scrollable")
                .Value("true")
                .Mode(ParameterMode.Raw)
        )
        .Items(
            X.Panel()
                .Title("Tab 1")
                .Html("By default, tabs are aligned to the top of a view.")
                .Cls("card")
                .CustomConfig(
                    X.Parameter()
                        .Name("iconCls")
                        .Value("Ext.theme.is.Blackberry || Ext.theme.is.Tizen ? 'home' : null")
                        .Mode(ParameterMode.Raw)
                ),
            X.Panel()
                .Title("Tab 2")
                .Html(@<text>A TabPanel can use different animations by setting <code>layout.animation.</code></text>)
                .Cls("card")
                .CustomConfig(
                    X.Parameter()
                        .Name("iconCls")
                        .Value("Ext.theme.is.Blackberry || Ext.theme.is.Tizen ? 'organize' : null")
                        .Mode(ParameterMode.Raw)
                ),
            X.Panel()
                .Title("Tab 3")
                .Html(@<text><span class="action">User tapped Tab 3</span></text>)
                .Cls("card")
                .CustomConfig(
                    X.Parameter()
                        .Name("iconCls")
                        .Value("Ext.theme.is.Blackberry || Ext.theme.is.Tizen ? 'favorites' : null")
                        .Mode(ParameterMode.Raw)
                )
        )
)